.root {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;

    padding: 12px 10px;
    border-radius: 12px;

    background-color: var(--search-color);

    &-focused {
        background-color: var(--input-color);
    }
}

.input-container {
    flex: 1;

    border: none;

    font: var(--text-regular);

    background-color: inherit;
    outline: none;

    &::placeholder {
        font: var(--text-regular);
        color: var(--text-secondary-color);
    }
}
