.divider {
    background-color: var(--border-input-primary-color);

    &.horizontal {
        width: 100%;
        height: 1px;
    }

    &.vertical {
        display: inline-block;
        width: 1px;
        height: 100%;
    }
}
